@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {
	font-family: system-ui, 'Roboto', sans-serif;
}


.publink:hover{
	background-color: aliceblue;
}

.cardhover:hover{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
}

.heroBad{
	
	background-color: rgb(255, 208, 208);
}

.heroGood{
	background-color: rgb(213, 249, 199);
}

.heroNeutral{
	background-color: rgb(168, 168, 168);
}
